.card {
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  padding: 16px;
  background-color: white;
}

.card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid black;
  margin-right: 16px;
}

.card h3 {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 24px;
  /*min-height: 3em;*/
}

.card ul {
  list-style: none;
  padding: 0 16px;
}

.card li {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.card input {
  background-color: transparent;
  border: none;
  color: black;
  text-align: center;
  width: 100%;
}

.students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  width: 300px;
  margin: 0 auto;
  margin-top: 16px;
}

.students > div {
  display: flex;
}