.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* padding: 16px; */
  background-color: white;
  padding: 8px 0;
}

.group h2 {
  margin: 0;
}

.group #group-name {
  margin: 16px;
  font-size: 32px;
}

.group ul {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px 80px;
}
